@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner{
  width: 100%;
  height: 100%;
  background: #Fdb4bf;
  position: absolute;
}

.row .corazon{
  margin-top: 10%;
  float: right;
  margin: 80px 570px;
}

.button{
  background-color: white;
  color: #FF0000;
  /*font-family: 'Parisienne', cursive;*/
  font-family: 'Love Ya Like A Sister', cursive;
  text-decoration: none;
  font-size: 22px;
  word-spacing: 1px;
  letter-spacing: 2px;
  padding: 15px 30px;
  text-align: center;
  margin: 70px 600px;
  border-radius: 8px;
  position: absolute;
  margin-top: 28%;
  border: solid 2px #EC7063;
}

.button:hover{
  border: solid 2px white;
  background-color: transparent;
  color: white;
}

@media (max-width: 991px){
  .banner{
    width: 100%;
    height: 100%;
    background: #Fdb4bf;
  }
  .row .corazon{
    width: 1250px;
    margin: 45px -90px;
  }
  .button{
    font-size: 38px;
    padding: 5px 60px;
    margin: 480px 390px;
    letter-spacing: 4px;
  }
}
